* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: grey;
  padding: 0px;
}

.home-page { 
  background-color: black;
  color: white;
  height: 700px;
  padding-top: 50px;
  border-radius: 10px;
}

.nav {
  height: 70px;
  width: 100%;
  padding-top: 0%;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   padding-left: 85px;
}
 h2 {
  margin-top: 0;
  font-size: 25px;
  font-style: oblique;
 }

 .img {
  height: 80px;
  padding-right: 125px;
  padding-bottom: 30px ;
 }
 .landing--text {
  padding-left: 100px;
  padding-top: 50px;
 }
 .code {
  font-size: 35px;
 }
 .code-text {
  font-size: 35px;
  color: lightblue;
 }
 .page--text {
  /* border: 2px solid white; */
  height: 280px;
  display: flex;
 }
.content {
  /* border: 1px solid white; */
  width: 50%;
}
.no-content {
  display: block;

}
.img2 {
  padding-left: 150px;
  padding-top: 45px;
}
.button {
  margin-left: 370px;
  margin-top: 50px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  box-shadow: 3px 3px gray;
  padding: 5px 15px;
    min-height: 75px;
    min-width: 280px;
    cursor: pointer;
}

footer {
  background-color: black;
  height: 52px;
  border-top: 1px solid grey;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.mainWrap {
  display: grid;
  grid-template-columns: 230px 1fr;
  height: 100vh;
} 
  .aside {
    background: #1c1e29;
    padding: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  .inner-aside {
    flex: 1;
  }
  .clientList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .textWrap {
    background-color: white;
  }
  .logo {
    border-bottom: 2px solid #424242;
    padding-bottom: 10px;
  }
  .logoImg {
    height: 80px;
    
  }
  .btn {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    font-weight: 400;
    font-size: 16px;
    background: #fff;
    color: #696969;
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
    :hover{
        background: rgba(255,255,255,0.9);
        box-shadow: 0 6px 20px rgb(93 93 93 / 23%);
}
}
    
  